main{float: right;
}

.navbar{
    list-style: none;
    display: flex;
    margin-left: 50%;
    padding-top: 5%;
}
.navbar>li{ 
    margin-right: 5%;
    padding-top: 5px;
}

.button1{
    background-color: yellow;
    padding: 5px 10px 5px 10px;
}
.button2{
    background-color: black;
    color: yellow;
    padding:5px 10px 5px 10px;
}
.landing{
    background-image: url('./Assets/moving\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}   
.into{
    padding-bottom: 10%;
    margin-top: 10%;
}
.space{
    margin-left: 3%;
    color: yellow;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 100;
    width: 50%;
    
}
.into{
    font-family: 'Poppins', sans-serif;
    margin:4% ;
    color: white;
    font-size:  25px;
  letter-spacing: 3px;
  width: 50%;
font-weight: 70;
}
.first{
    width: 100%;
display: flex;

}
#paragraph{
    margin-top: 20%;
    margin-right: 15%;
    margin-right: 25%;
    letter-spacing: 1px;
}
#learn{
    background-color: black;
 color: yellow;
 margin-right: 10%;

}
.pics{ 
    width: 100%;
    display: flex;
}
.pics>img{
    width: 20%;
padding:1% ;
}
.pics2{
    width: 100%;
    display: flex;
}
.pics2>img{
    width: 20%;
    padding:1% ;
}