body{
    width: 100%;
}

main{float: right;
}

.navbar{
    list-style: none;
    display: flex;
    margin-left: 50%;
    padding-top: 5%;
}
.navbar>li{ 
    margin-right: 5%;
    padding-top: 5px;
}

.button1{
    background-color: yellow;
    padding: 5px 10px 5px 10px;
}
.button2{
    background-color: black;
    color: yellow;
    padding:5px 10px 5px 10px;
}
.landing{
    background-image: url('./Assets/moving\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}   
.into{
    padding-bottom: 10%;
    margin-top: 10%;
}
.space{
    margin-left: 3%;
    color: yellow;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 100;
    width: 50%;
    
}
.into{
    font-family: 'Poppins', sans-serif;
    margin:4% ;
    color: white;
    font-size:  25px;
  letter-spacing: 3px;
  width: 50%;
font-weight: 70;
}
.first{
    width: 100%;
display: flex;

}
#paragraph{
    margin-top: 20%;
    margin-right: 15%;
    margin-right: 25%;
    letter-spacing: 1px;
}
#learn{
    background-color: black;
 color: yellow;
 margin-right: 10%;

}
.picha{
    display: flex;
    margin: 50px;
    padding: 10px;
}
.pics{ 
    display:flex;
    flex-direction:row;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-width: 2%;
}
.pics2{
    display:flex;
    justify-content:right;
    flex-direction: row;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-width: 2%;
}
.links{
    display: flex;
    justify-content:space-around;
    color: white;
}
.flexing{
    display: flex;
    justify-content: space-between;

}
.yellow{
    color:yellow ;
}
.left{
    clear: left;

}
.fill{
    color: white;
}
.black{
    background-color: black;
}
.navigation{ 
    list-style: none;
    display: flex;
    margin-left: 50%;
    padding-top: 5%;
   color: white;


   
}
.navigation>li{
    margin-right: 5%;
    padding-top: 5px;

}
.pull{
    color: yellow;
}
.power{
    display: flex;
    color: white;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
    
}
.head{
    background-color: black;
}
.head{
background-color: black;
}
.spin{color: azure;
    display: flex;
    justify-content: left;

}
.spinny{color: white;
    justify-content: left;

}
.spinner{color: white;
    display: flex;

}

